.searchLeague {
    text-align: center;
}

.sleeperHeader {
    padding: 20px;
}

.quarterlyHeader {
    margin: 5px;
    color: white;
    font-size: 50px;
}

.quarterlyTotals {
    margin: 5px;
    color: white;
}
